<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="carConnectionString" connectionString="Data Source=DESKTOP-CK2F1G9\SQLEXPRESS01;Initial Catalog=car;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="carConnectionString2" connectionString="Data Source=DESKTOP-CK2F1G9\SQLEXPRESS01;Initial Catalog=car;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="carConnectionString3" connectionString="Data Source=DESKTOP-CK2F1G9\SQLEXPRESS01;Initial Catalog=car;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="carConnectionString4" connectionString="Data Source=DESKTOP-CK2F1G9\SQLEXPRESS01;Initial Catalog=car;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
